.App {
  text-align: center; 
  display: grid;
  grid-template-rows: 20vh 10vh 65vh 5vh
}

.App-header {
  background-color: #c29991;
  padding: 20px;
  color: cornsilk;
  font-size: 20px;
  font-family: 'Emilys Candy', cursive;
  letter-spacing: 5px;
  vertical-align: middle;
  margin: 5px;
  border-radius: 15px;
}

